<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<h1>{{books.title}}</h1>
	<h5>ID: {{books.id}}</h5>
	<p>Description:</p> <b>{{books.description}}</b>

	<p>Authours: </p>
	<ul>
		{% for eachauth in authorsofbook %}
		<li>
			{{ eachauth.first_name}} {{ eachauth.last_name}}
		</li>
		{% endfor %}
	</ul>
	<form  action="/bookaut" method="POST">
		{% csrf_token %}
		<select name="auth_id">
				{% for each_auth in auth %}
			<option value="each_auth.id">{{each_auth.first_name}} {{ each_auth.last_name}}</option>
			{% endfor %}
		</select>
		<input type="hidden" name="ebookid" value="{{books.id}}">
		<input type="submit" value="Add Author">
	</form>

</body>

</html>